<html>
<head>
    <title>Page Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/post_beacon.js') }}"></script>

</head>
<body>
<h1>Page ID: {{ id }}</h1>
<h2>Page Title: {{ title }}</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula massa, euismod non congue eu, hendrerit
    eget orci. Sed at sem non lacus pellentesque aliquet. Donec vitae aliquet ex. Ut sollicitudin pretium congue. Lorem
    ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dui magna, molestie vitae arcu in, euismod blandit quam.
    Suspendisse hendrerit mi velit, sed feugiat nulla sollicitudin sit amet. Integer imperdiet diam eget magna blandit
    lobortis. Aenean vulputate scelerisque ultrices. Donec pharetra quam eget urna pellentesque fringilla. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. Ut ex augue, sodales sed tortor et, pellentesque semper erat.
    Suspendisse porta nibh in euismod gravida. Pellentesque ac aliquam felis. Maecenas cursus, turpis eget iaculis
    iaculis, ante dolor tristique lectus, non pellentesque dolor ex vel orci. Suspendisse finibus varius urna, a feugiat
    eros fringilla vitae.
</p>

<button type="button" id="button_a">Button A</button>
<button type="button" id="button_b">Button B</button>

<!--</script>-->
</body>

</html>